# .idea/ files to ignore
*.xml
*.iml
*.pyc

# Convert to LF line endings on checkout.
*.sh text eol=lf

# Random data, results and files to ignore
/tmp
/data
metadata.ini
circos*.png
Galium_test.chloe.gff
