# .idea/ files to ignore
*.xml
*.iml
*.pyc

# Convert to LF line endings on checkout.
*.sh text eol=lf

# Random data, results and files to ignore
/tmp
/data
/chloe
/results
app.log
metadata.ini
circos*.png
/Rlibs
.Rprofile