<!DOCTYPE html>
<html lang="en">
<style>
    * {
      font-family: Arial;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCircos Generator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>AutoCircos Project v1.0:</h1>
    <div>
        <label for="numRadioGroups">Select the number of charts to be displayed on circos (max 8):</label>
        <input type="number" id="numRadioGroups" min="0" max="8" />
        <button id="generate">Generate</button>
    </div>
    <form id="chartForm" method="post" action="/upload" enctype="multipart/form-data">
    <input type="hidden" name="chartCount" id="chartCount">
    <div id="radioContainer"></div>
    <!-- type="text/javascript" src="/js/chart_details.js"></script> -->
    <script></script>
<!-- <p>Change the background color of a button with the background-color property:</p> -->
    <p>-----</p>
    <b>Submit all necessary files:</b><br/>
<!-- <form method="post" action='/upload' enctype='multipart/form-data'> -->
    <input name='files' type='file' multiple>
    <input type='submit'>
</form>
<script type="text/javascript" src="static/js/chart_details.js"></script>
</body>
</html>
